<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css.map"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 th:text="${sectionName}"></h2>
            <hr>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'products'}">
                <div class="media" th:each="product:${products}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"  src="/images/web.png">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/product/'+${product.id}}" th:text="${product.title}"></a>
                        </h4>
                        <br>
                        <span class="text-desc"><span th:text="${product.commentCount}"></span> 个回复
                        . <span th:text="${product.viewCount}"></span> 次浏览
                        . <span th:text="${#dates.format(product.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                    </div>
                </div>
            </div>


            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'replies'}">
                <div class="media" th:each="notification : ${notifications}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName + ' '+ notification.typeName + ' '}"></span>
                            <a th:href="@{'/notification/'+${notification.id}}"
                               th:text="${notification.outerTitle}">
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- 分页 -->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="!${pageInfo.isFirstPage}">
                            <a th:href="@{'/profile/'+${section}(pageNum=1)}"
                               aria-label="First">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pageInfo.hasPreviousPage}">
                            <a th:href="@{'/profile/'+${section}(pageNum=${pageInfo.prePage})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="pageNum:${pageInfo.navigatepageNums}" th:class="${pageInfo.pageNum==pageNum} ? 'active' : ''">
                            <a th:href="@{'/profile/'+${section}(pageNum=${pageNum})}" th:text="${pageNum}"></a>
                        </li>
                        <li th:if="${pageInfo.hasNextPage}">
                            <a th:href="@{'/profile/'+${section}(pageNum=${pageInfo.nextPage})}" aria-label="ShowNext">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="!${pageInfo.isLastPage}">
                            <a th:href="@{'/profile/'+${section}(pageNum=${pageInfo.pages})}" aria-label="ShowEndPage">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="/profile/products" th:class="${section == 'products'} ? 'active list-group-item' : 'list-group-item'">我的商品</a>
                <a href="/profile/replies" th:class="${section == 'replies'} ? 'active list-group-item' : 'list-group-item'">
                    最新回复
                    <span class="badge" th:text="${session.unreadCount}">14</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer :: foot"></div>
</body>